**/*.ts
**/tsconfig.json
node_modules/
src/
.vscode/

# webviews
webviews/consult-line/src/
webviews/consult-line/node_modules/
webviews/consult-line/public/
webviews/consult-line/.gitignore
webviews/consult-line/index.html
webviews/consult-line/package-lock.json
webviews/consult-line/package.json
webviews/consult-line/tsconfig.json
webviews/consult-line/vite.config.js