.clearfeld-minibuffer-find-file__input-line {
  position: fixed;
  top: 0;
  width: 100%;

  background-color: var(--vscode-editor-background);
  color: var(--vscode-symbolIcon-variableForeground);

  white-space: pre;

  display: flex;
  align-items: center;
}

.clearfeld-minibuffer-find-file__input {
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
  padding: 0 !important;

  background-color: transparent !important;
  outline: none !important;
  border: none !important;
  margin: 0 !important;

  position: relative;
  top: -0.125rem;
  /* // padding: 2px 0px 4px 4px !important; */
}

.clearfeld-minibuffer-find-file__results-wrapper {
  padding-top: 1.25rem;
}

.clearfeld-minibuffer-find-file__result-row {
  cursor: pointer;
  white-space: nowrap;
}
.clearfeld-minibuffer-find-file__result-row:hover {
  background-color: var(--vscode-editorWidget-background);
}

.clearfeld-minibuffer-find-file__result-current-selection {
  background-color: var(--vscode-editorWidget-background);
}